/* Reset CSS cá»§a Eric Meyer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
